#navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    line-height: 25px;
    background: #AA7271;
    height: 50px;
    display: flex;
    align-items: center;
}

.nav-link {
    margin: 10px;
    padding: 0px 5px;
    background: black;
    color: #AA7271;
    text-decoration: none;
}

.nav-link:hover {
    text-decoration: underline;
}

@media (min-width:900px) {
    #navigation {
        display: block;
        height: 100%;
        width: 150px;
        text-align: center;
    }

    .nav-link {
        display: block;
    }
}